kaavio.xml

<!--Henri Vekuna-->

<!--XML-kaavio sanomalehtiartikkelille-->

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="juttu">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="otsikko"/>
        <xs:element maxOccurs="unbounded" ref="luku"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="otsikko" type="xs:string"/>
  <xs:element name="luku" type="xs:string"/>
</xs:schema>


